{% extends "base.html" %} {% block title %}Questions{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>

</head>

<section id="body">

    <section class="lazyload about-banner">

    </section>

    <div class="parallax">
    <div class="bg_one"></div>
    <div class="bg_two"></div>
</div>



<div id='output' style="margin-left:10px;float:left;"></div>
    <section class="home-cmn-sec">
        <div class="heading">
            <h2>More About Us</h2>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices condimentum dignissim. Aenean bibendum
            massa nec nisi convallis, vulputate pharetra ex porta. Aliquam tempor erat eget pellentesque ullamcorper.
            Maecenas dignissim, justo at consectetur tincidunt, enim nulla pharetra odio, a vestibulum arcu dui a est.
            Cras id eros diam. Praesent non eros nec enim consequat blandit. Integer tempor, risus fermentum laoreet
            semper, lectus felis maximus ex, at porttitor leo sapien at justo. In eleifend fringilla magna ut rutrum. Ut
            eu mauris sodales, bibendum ligula et, mollis neque. Suspendisse potenti.

            Quisque porta nisl sed sodales tempor. </p>
        <a href="/about_us" class="btn btn-more">See More About Us</a>
        <a href="/about_us" class="btn btn-more2">See More About Us</a>

    </section>

    <section class="flip-boxes">

        <div class="flip-box">
            <h1>Jen Bartlett</h1>
            <h3>Collegiate Soccer Alum</h3>
            <h4>Computer Science Master's</h4>


            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://gogoldenknights.com/images/2021/8/30/BartlettIMG_1809.JPG?width=300" alt="Paris">
                </div>
                <div class="flip-box-back">
                    <h2>Paris</h2>
                    <p>What an amazing city</p>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <h1>Kelsie Schwager</h1>
            <h3>Collegiate Soccer Alum</h3>
            <h4>Computer Science Master's</h4>


            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://utahtechtrailblazers.com/images/2020/8/24/DSUWSOC2020_SchwagerK.jpg?width=300"
                         alt="Kels">

                </div>
                <div class="flip-box-back">
                    <h5>Front End Developer - Wrote the majority of HTML and CSS, worked alot with the design of the site.</h5>
                    <p>I spent my first two years of college in Utah and then transferred to a new program. Covid happened the end of my Freshman
                    year and sophomore year. Shortly after returning I tore my acl and tore it again right after being cleared.</p>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <h1>Sandy Eldeiry</h1>
            <h3>Collegiate Volleyball Player</h3>
            <h4>Pratt University</h4>


            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://goprattgo.com/images/2019/8/28/_MG_8870_2_71.jpg?width=300" alt="Sandy">
                </div>
                <div class="flip-box-back">
                    <h5>Graphic/Visual Design Elements: Created the logo and icons used on our website</h5>
                    <p>I am a Senior at Pratt University and I tore my ACL last year during volleyball. Going through
                        that type of injury is not easy...</p>
                </div>
            </div>
        </div>

    </section>

    </body>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2>FAQs</h2>
<div class="faqs">
<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

</body>


</html>
{% endblock %}
