{% extends "base.html" %} {% block title %}Questions{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>

</head>
<body>
<section id="body">

    <section class="lazyload about-banner">
        <div class="solutions-banner-inner">
            <h1>About Us</h1>
        </div>
    </section>
<!--
    <div class="parallax">
    <div class="bg_one"></div>
    <div class="bg_two"></div>
</div>
-->



<div id='output' style="margin-left:10px;float:left;"></div>
    <section class="home-cmn-sec">
        <div class="heading">
            <h2>More About Us</h2>
        </div>
        <p> We are 3 student athletes who want to bring awareness to student athletes mental health. This is something that is not
        talked about enough, and we need start discussing this and coming together as a community. Whether you are struggling mentally
        due to your own pressure, your coach, your teammates, your parents, your school work, racism, an injury, or whether you're a
        parent that feels helpless in supporting your child through all of this, we want this to be a safe space to talk about this.
        We hope that by talking about these experiences openly, we can help support one another and decrease the amount of suicides that
        occur at college with student athletes. By talking about this and having these uncomfortable conversation, we are forced to have
        changes made and bring awareness to this topic. We want this to be anonymous so everyone feels comfortable sharing their story and
        knowing that they are not alone.</p>
        <a href="#flip-boxes" class="btn btn-more">See Who We Are</a>
        <a href="#FAQs" class="btn btn-more2">See Our FAQs</a>

    </section>
    <div class="heading">
    <h2>Who We Are</h2>
        </div>
    <section id="flip-boxes">

        <div class="flip-box">
            <h1>Jen Bartlett</h1>
            <h3>Collegiate Soccer Alum</h3>
            <h4>Computer Science Master's</h4>


            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://gogoldenknights.com/images/2021/8/30/BartlettIMG_1809.JPG?width=300" alt="Paris">
                </div>
                <div class="flip-box-back">
                    <h5>Backend developer-Worked mostly on the backend and functionalities of the website.</h5>
                    <p6>In high school I tore my ACL twice back to back. It was an injury every student athlete fears, and it
                    felt like the biggest set back. Also, growing up as black female, I was oftentimes one of the very few black student
                    in my classes or black student on my team and seeing the racism that occurs in the US and not talking about it
                    enough was frustrating because nothing was being done. Now we are seeing athletes take their life and nothing
                    is being done, we want to take initiative to build a safe place for student athletes.</p6>
                </div>
            </div>
        </div>

        <div class="flip-box">
            <h1>Kelsie Schwager</h1>
            <h3>Collegiate Soccer Alum</h3>
            <h4>Computer Science Master's</h4>


            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://utahtechtrailblazers.com/images/2020/8/24/DSUWSOC2020_SchwagerK.jpg?width=300"
                         alt="Kels">

                </div>
                <div class="flip-box-back">
                    <h5>Front End Developer - Wrote the majority of HTML and CSS, worked alot with the design of the site.</h5>
                    <p>I spent my first two years of college in Utah and then transferred to a new program. Covid happened the end of my Freshman
                    year and sophomore year. Shortly after returning I tore my acl and tore it again right after being cleared.</p>
                </div>
            </div>
        </div>

        <!--<div class="flip-box">
            <h1>Sandy Eldeiry</h1>
            <h3>Collegiate Volleyball Player</h3>
            <h4>Pratt University</h4>


            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="https://goprattgo.com/images/2019/8/28/_MG_8870_2_71.jpg?width=300" alt="Sandy">
                </div>
                <div class="flip-box-back">
                    <h5>Graphic/Visual Design Elements: Created the logo and icons used on our website</h5>
                    <p>I am a Senior at Pratt University and I tore my ACL last year during volleyball. Going through
                        that type of injury is not easy...</p>
                </div>
            </div>
        </div>-->

    </section>

<section id="FAQs">
    <div class="heading">
<h2>FAQs</h2>
    </div>
<div class="faqs">
<button class="accordion">Why is this anonymous?</button>
<div class="panel">
  <p>We made this anonymous so that everyone feels comfortable talking about their own experiences. We also don't want it
  to be the case where an athlete posts their stuff publicly and they get punished later on for doing so. </p>
</div>

<button class="accordion">I have some ideas, how can I help?</button>
<div class="panel">
  <p>Feel free to fill out form and tell us your ideas on next steps, additions we should make, how we can make even more of
  an impact, or anything you have in mind!</p>
</div>

<button class="accordion">How does this work?</button>
<div class="panel">
  <p>Simply create an account and once your account is created, you'll have access to see everyone's posts and interact with them!
  From here you can also create a post and write about your experience!</p>
</div>
    <button class="accordion">Who is this for?</button>
<div class="panel">
  <p> Any athlete or parent of an athlete that wants to take a stand against the mental and physical trauma that athletes endure </p>
</div>
    <button class="accordion">What can I do if I am a Parent?</button>
<div class="panel">
  <p> Help spread the word, support your athlete, post your story, or fill out our form to give us any suggestions you have. </p>
</div>
    <button class="accordion">How can I help a teammate?</button>
<div class="panel">
  <p> Support them and reassure them that this moment doesn't define them. Us athletes are more than our sport. </p>
</div>
    <button class="accordion">I am a coach, how do I help?</button>
<div class="panel">
  <p> Create a fair, safe, encouraging environment. Check in on all of your athletes regularly and treat mental and physical health very seriously.
  and educate yourself on mental health and signs of struggling athletes.</p>
</div>
      <button class="accordion">What is mental health and why is it important for athletes?</button>
<div class="panel">
  <p> Mental health refers to your emotional, psychological, and social well-being. It is important
      for athletes because mental health plays a significant role in an athlete's performance and
      overall well-being. Good mental health helps athletes to cope with stress, build
      resilience, and maintain positive relationships.</p>
</div>
      <button class="accordion">What are some common mental health issues that athletes may face?</button>
<div class="panel">
  <p> Some common mental health issues that athletes may face include anxiety, depression,
      eating disorders, addiction, and post-traumatic stress disorder (PTSD). These issues can
      arise from factors such as performance pressure, injury, or the transition to retirement.</p>
</div>
      <button class="accordion">How can I recognize the signs that I or a fellow athlete may be struggling with mental health?</button>
<div class="panel">
  <p> Some signs that an athlete may be struggling with mental health issues include changes
      in behavior, mood, or sleep patterns, a decline in performance, social withdrawal, and
      increased substance use.</p>
</div>
      <button class="accordion">What are some strategies or coping mechanisms I can use to manage stress and anxiety as an athlete?</button>
<div class="panel">
  <p> Strategies for managing stress and anxiety as an athlete include setting realistic goals, practicing relaxation techniques such
      as deep breathing or meditation, getting adequate sleep and nutrition, and seeking social support.</p>
</div>
      <button class="accordion">What are some resources available for athletes to seek help for their mental health?</button>
<div class="panel">
  <p> Resources available for athletes seeking help for their mental health include athletic trainers, team doctors, sports psychologists, and mental health hotlines or online counseling services.</p>
</div>
</div>
</section>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

</body>


</html>
{% endblock %}
