{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


</head>

<body id="body">

    <!-- Main body -->

<section class="lazyload contactus-banner">

<section id="container">

<div class="contact">
    <h3>Contact us</h3>
<!-- Just here i use "url_for" to call the function get_contact.
         This function return the html code of our contact page-->
    <form action="{{ url_for('coach') }}" method=post>
        <div>
            <!-- name forms -->
            <p>
                {{ form.name.label }} <br>
                {{ form.name(placeholder='Your name') }}
            </p>
            <!-- email forms -->
            <p>
                {{ form.email.label }} <br>
                {{ form.email(placeholder='Your e-mail ...') }}
            </p>
            <!-- Subject of your request -->
            <p>
                {{ form.subject.label }}<br>
                {{form.subject(placeholder='Your subject ...')}}
            </p>
            <!-- Content of your request -->
            <p>
                {{ form.message.label }}<br>
                {{ form.message(placeholder='write your request ...') }}
            </p>
            <!-- Submit button -->
            <p>
                {{ form.submit }}
            </p>
        </div>
    </form>
</div>

</section>
<script>
    document.querySelector('#contact-form').addEventListener('submit', (e) => {
    e.preventDefault();
    e.target.elements.name.value = '';
    e.target.elements.email.value = '';
    e.target.elements.message.value = '';
  });

</script>

<footer>
  <div class="site-links">
    <a href="/about_us">About Us</a>
    <a href="/terms">Terms & Conditions</a>
    <a href="/sign-up">Sign Up</a>
    <a href="/contact-us">Contact Us</a>
  </div>
  <div class="social-media-icons">
    <a href="https://www.tiktok.com/@tellsweat"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.instagram.com/tellsweat/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/@tellsweat/"><i class="fa fa-youtube"></i></a>
  </div>
  <p>Copyright © 2023 Students Working to End Athletic Trauma. All rights reserved.</p>
</footer>
</body>
</html>
{% endblock %}
