{% extends "base.html" %} {% block title %}Community Guidelines{% endblock %}
{% block content%}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <script src="https://kit.fontawesome.com/6b02633b51.js" crossorigin="anonymous"></script>

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


</head>
<body id="body">
<div class="services">
    <div class="community-guidelines">
      <h1>Community Guidelines</h1>
    <h4> By using our website, you agree to abide by our community guidelines and terms of service. We reserve the right to remove any content or ban any member who violates our guidelines or terms.</h4>
      <div class="cen">
        <div class="service">
           <i class="fa-solid fa-face-grin-hearts"></i>
            <h4>Be Kind</h4>
          <p>We really want this to be a safe place for anyone who wants to vent so please respond with good intentions and positivity</p>
        </div>

        <div class="service">
            <i class="fa-solid fa-face-meh-blank"></i>
          <h4>No Vulgar Content</h4>
          <p>We are allowing cussing as it is a space to vent and get frustration out, but excessive cussing and not related vulgar content will be condemned</p>
        </div>

        <div class="service">
          <i class="fa-solid fa-face-dizzy"></i>
          <h4>No Spamming or Advertisement</h4>
          <p> Please do not post any spam
              or irrelevant content on our website. This includes unsolicited advertisements, promotions, or links to
              other websites.</p>
        </div>

        <div class="service">
          <i class="fa-solid fa-face-grimace"></i>
          <h4>No Private Information Allowed</h4>
          <p>We advise all members of our community to not share any personal information
              such as contact details, location, or other sensitive information. It is up
          to you if yous share a schools name or program.</p>
        </div>

        <div class="service">
          <i class="fa-solid fa-face-rolling-eyes"></i>
          <h4>Be tolerant towards other's viewpoints</h4>
          <p>We encourage all members of the community to be respectful of others. This includes being respectful of other people's opinions, beliefs, and backgrounds. We do not tolerate any form of hate speech or discrimination. </p>
        </div>

        <div class="service">
          <i class="fa-solid fa-face-laugh-beam"></i>
          <h4>Have Fun and Help us find a solution</h4>
          <p>We want to bring awareness to the athletic trauma that student athletes endure. Have ideas?
          Fill out a form and send us feedback!</p>
        </div>
      </div>
    </div>
    <h4>These guidelines are designed to create a safe and positive space for students to engage with one another. We encourage all members of our community to follow these rules to ensure that our website remains a valuable resource for all.</h4>
    </div>

<footer>
  <div class="site-links">
    <a href="/about_us">About Us</a>
    <a href="/terms">Terms & Conditions</a>
    <a href="/sign-up">Sign Up</a>
    <a href="/contact-us">Contact Us</a>
  </div>
  <div class="social-media-icons">
    <a href="https://www.tiktok.com/@tellsweat"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.instagram.com/tellsweat/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/@tellsweat/"><i class="fa fa-youtube"></i></a>
  </div>
  <p>Copyright © 2023 Students Working to End Athletic Trauma. All rights reserved.</p>
</footer>
  </body>
</html>
{% endblock %}