{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


</head>

<body id="body">

    <!-- Main body -->

<section class="lazyload solutions-banner">

<section id="container">

    <h1 class="section-header">Contact</h1>
    <form method="POST"
              action=
    "mailto: sweatsiteofficial@gmail.com"
              enctype="multipart/form-data"  class="contact-us">
            <div class="control" class="input-field">
                Name:
                <br>
                    <input aria-required=""
                        id="name"
                        type="text"
                     class="input-field"/>
            </div>
            <div class="control" class="input-field">
                 Email:
                <br>
                <input aria-required=""
                       id="email"
                       type="email"
                        class="input-field"/>
            </div>

            <div class="control">
                Feedback:
                <br>
                <textarea rows="7"
                          cols="30"
                          name="comment"
                           class="input-field">
                </textarea>
            </div>
            <br>
            <div class="control" align="center">
                <input type="submit"
                       value="Submit"
                class="btn btn-main btn-submit"/>
            </div>
        </form>

  <!-- Left contact page -->

      <div class="direct-contact-container">

          <p align="center"><i class="fa fa-envelope"><span class="contact-text gmail"><a href="mailto:sweatsiteofficial@gmail.com" title="Send me an email">sweatsiteofficial@gmail.com</a></span></i></p>

        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-youtube" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa-brands fa-tiktok" aria-hidden="true"></i></a>
          </li>

          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>


</section>
</section>
<script>
    document.querySelector('#contact-form').addEventListener('submit', (e) => {
    e.preventDefault();
    e.target.elements.name.value = '';
    e.target.elements.email.value = '';
    e.target.elements.message.value = '';
  });

</script>
</body>
</html>
{% endblock %}
