{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}
<!-- Created a form which takes the input from the user -->
import $ from "jquery";
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>

</head>

<form method='POST'>

    <div class="heading">
        <h2>Create a Post</h2>
    </div>
    <br/>
    <form action="/action_page.php">
        <!--- Question 1  -->
        <h4 align="center"> Feel free to rant, write what's on your mind, or tell your story and how you've been
            affected to the world. Let's come together to talk about the struggles as a student athlete and talk about
            mental health </h4>
        <br/>
        <textarea name="text" id="text" class="form-control"></textarea>
        <br/>

        <!--
                </button>

                <HTML xmlns="http://www.w3.org/1999/xhtml">
                <head>
                    <meta http-equiv="Content-Type" content="text/HTML; charset=iso-8859-1"/>
                    <title>Add Option Items </title>
                    <script type="text/javaScript">
        function addNewListItem(){
        var htmlSelect=document.getElementById('selectYear');
        var optionValue=document.getElementById('txtYearValue');
        var optionDisplaytext=document.getElementById('txtYearDisplayValue');

        if(optionValue.value==''||isNaN(optionValue.value)){
        alert('please enter option value');
        optionValue.focus();
        return false;
        }
        if(optionDisplaytext.value==''||isNaN(optionDisplaytext.value)){
        alert('please enter option display text');
        optionDisplaytext.focus();
        return false;
        }
        if(isOptionAlreadyExist(htmlSelect,optionValue.value)){
        alert('Option value already exists');
        optionValue.focus();
        return false;
        }
        if(isOptionAlreadyExist(htmlSelect,optionDisplaytext.value)){
        alert('Display text already exists');
        optionDisplaytext.focus();
        return false;
        }
        var selectBoxOption = document.createElement("option");
        selectBoxOption.value = optionValue.value;
        selectBoxOption.text = optionDisplaytext.value;
        htmlSelect.add(selectBoxOption, null);
        alert("Option has been added successfully");
        return true;

        }
        function isOptionAlreadyExist(listBox,value){
        var exists=false;
        for(var x=0;x<listBox.options.length;x++){
        if(listBox.options[x].value==value || listBox.options[x].text==value){
        exists=true;
        break;
        }
        }
        return exists;
        }








                    </script>
                </head>
                -->
        <!--

                <body>
                <table border="0" align="left">
                    <tr>
                        <td align="right">Year</td>
                        <td align="left"><select name="selectYear" id="selectYear">
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td align="right">Option Value</td>
                        <td align="left"><input name="txtYearValue" type="text" id="txtYearValue"/></td>
                    </tr>
                    <tr>
                        <td align="right">Option Display Text</td>
                        <td align="left"><input name="txtYearDisplayValue" type="text" id="txtYearDisplayValue"/></td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="left"><input name="btnAddItem" type="button" id="btnAddItem" value="Add Option"
                                                onclick="javaScript:addNewListItem();"/></td>
                    </tr>
                </table>
                </body>
                </HTML>
        -->

        <HTML>
        <head>
            <script>
window.onload = function () {
    var select = document.getElementById("categ");
    var name = prompt("What is your name?");
    for(var i = 2019; i >= 1900; --i) {
        var option = document.createElement('option');
        option.text = option.value = i;
        select.add(option, 0);
    }
};







            </script>
        </head>

        <body>

        <select id="categ" name="categ"></select>

        </body>
        </HTML>

        <!--<HTML>
        <select id="sel" name="sel">
            <option value='none'>None</option>
        </select>
        <input type='text' name='option' id='option'/>
        <button id='btnAdd'>Add Option</button>
        </HTML>-->

        <script>
            var btn = document.getElementById('btnAdd');
btn.onclick = function(){
    var tb = document.getElementById('option'), val = tb.value;
    if(val.length){
        var sel = document.getElementById('sel');
        var opt = document.createElement('option');
        opt.value = val;
        opt.innerHTML = val;
        sel.appendChild(opt);
        tb.value = '';
    }
};





        </script>


        <html>
        <body>

        <h1>The datalist element</h1>

        <form action="/action_page.php" method="get">
            <label for="browser">Choose your post's category from the list:</label>
            <input list="browsers" name="browser" id="browser">
            <datalist id="browsers">
                <option value="Freshman">
                <option value="Sophomore">
                <option value="Junior">
                <option value="Senior">
                <option value="High School">
            </datalist>
            <input type="submit">
        </form>

        <p><strong>Note:</strong> The datalist tag is not supported in Safari 12.0 (or earlier).</p>

        </body>
        </html>
        <!-- <HTML>
         <select>
             const select = document.querySelector('select')
             const arr = ['apple', 'orange', 'grape']
             for (const [index, a] of arr.entries()) {
             const opt = document.createElement('option');
             opt.value = index;
             opt.innerHTML = a;
             select.appendChild(opt);
             }
         </select>
         <HTML/>-->

        <!--        <HTML>
                <select id="usr-slct">
                    var selector = document.getElementById("usr-slct");
                    var newoption = document.createElement("option");

                    newoption.textContent = "User1";
                    selector.add(newoption);
                </select>
                </HTML>-->


        <!--- Submit Button -->
        <div align="center">
            <button type="submit" class="btn btn-main btn-main-sm">SUBMIT</button>
        </div>
        <br/>
    </form>


    <!--- back button -->
    <div align="center">
        <a href="/view_posts">
            <button type="button" class="btn btn-main btn-main-sm">Back</button>
        </a>
    </div>

</form>
<{% endblock %}

