{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

<body>
<form method='POST'>
    <h1 style="color: #fff;">Create a Post</h1>
    <div>
        <div class="form-step">
            <div class="form-step-box">
                <p>📃</p>
            </div>
            <div class="form-step-contents">
                <p class="form-step-primary">Category</p>
                <input placeholder="Select one" required list="browsers" name="browser">
                <datalist id="browsers">
                    <option value="Freshman">
                    <option value="Sophomore">
                    <option value="Junior">
                    <option value="Senior">
                    <option value="High School">
                    <option value="Injured">
                    <option value="Parents">
                    <option value="Blacks">
                    <option value="Asians">
                    <option value="Hispanics">
                    <option value="LGBTQ+">
                    <option value="Financial">
                    <option value="Academic Pressure">
                    <option value="Religious">
                    <option value="Soccer">
                    <option value="Softball">
                    <option value="Swimming">
                    <option value="Football">
                </datalist>
            </div>
        </div>
        <div class="form-step">
            <div class="form-step-box">
                <p>✏️</p>
            </div>
            <div class="form-step-contents">
                <p class="form-step-primary">Your Message</p>
                <p class="form-step-secondary">Feel free to rant, write what's on your mind, or tell your story and how you've been affected to the world.</p>
            </div>
        </div>
        <textarea name="text" placeholder="Share your thoughts..." required class="post-create-textarea"></textarea>
        <div class="post-create-submit">
            <button type="submit">Submit</button>
            <p>By submitting, you agree our Community Policy as well as to have your content featured on our webpage.</p>
        </div>
        <div class="post-create-consent">
            <p><input type="checkbox" name="consent" /> Revoke consent for sharing content on social media pages?</p>
        </div>
    </div>
</form>

<footer>
  <div class="site-links">
    <a href="/about_us">About Us</a>
    <a href="/terms">Terms & Conditions</a>
    <a href="/signup">Sign Up</a>
    <a href="/contactus">Contact Us</a>
  </div>
  <div class="social-media-icons">
    <a href="https://www.tiktok.com/@tellsweat"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.instagram.com/tellsweat/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/@tellsweat/"><i class="fa fa-youtube"></i></a>
  </div>
  <p>Copyright © 2023 Students Working to End Athletic Trauma. All rights reserved.</p>
</footer>
</body>
{% endblock %}

