{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
    <form method="POST">
      <h1 align="center">Forgot Password</h1>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <br />
        <div align="center">
          <button class="btn btn-main btn-main-sm" type="submit">Reset Password</button>
        </div>
      </div>
    </form>
    <p align="center">Remember your password? <a href="/login">Log in!</a></p>
    
    
{% endblock %}
    