{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SWEAT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/6b02633b51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

</head>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">

<body id="body">

<!-- Main body -->

<section class="lazyload home-banner">

    <div class="home-banner-inner">

        <div class="container">

           <img src="/static/images/white.png" alt="sweat logo" height="250px">

            <div class="banner-content">
                <h2 class="ml4">
                    <span class="letters letters-1"><span style="color:#A58C50">S</span>TUDENTS</span>
                    <span class="letters letters-2"><span style="color:#A58C50">W</span>ORKING to</span>
                    <span class="letters letters-3"><span style="color:#A58C50">E</span>ND</span>
                    <span class="letters letters-4"><span style="color:#A58C50">A</span>THLETIC</span>
                    <span class="letters letters-5"><span style="color:#A58C50">T</span>RAUMA</span>
                </h2>

            </div>

            <div class="home-sentence">
            <h2>YOU ARE NOT ALONE! Vent Anonymously and find your community!</h2>
            </div>
            <a href="tel:988" class="btn btn-main">SUICIDE AND CRISIS HOTLINE | 988</a>
             <br>
            <a href="#resources" class="btn btn-main btn-main-sm">Other Resources</a>

        </div>

    </div>

</section>

<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Our Community</h2>
                </div>
            </div>

        </div>
        <div class="row mb-40">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid"
                     src="/static/images/sad.jpg"
                     alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">WE NEED TO HAVE A VOICE TOO</h4>
                    <h4>We are athletes just like you, and we have had our fair share of mental challenges and are
                        frustrated that we have no voice! This community is for all of us to come together and build
                        each other up and speak out.</h4>
                    <a href="/community_guidelines" class="btn btn-main btn-main-sm">Community Guidelines</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">


                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">

            </div>
        </div>
        <div class="row mb-40">

            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">LEARN MORE ABOUT OUR GOALS</h4>
                    <h4>We want to create a safe space and environment where you have the POWER! We want to make this a space where you can
                        rant and share your experiences and help other students too by taking a stand.</h4>
                    <a href="/about_us" class="btn btn-main btn-main-sm">About Us</a>
                </div>
            </div>
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid"
                     src="/static/images/hurt.jpg"
                     alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">


                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">

            </div>
        </div>
    </div>
</section>

<section class="lazyload about2-banner">

<div class="testimonial">
        <div class="wrapper">

            <div class="tcard">

                <div class="card-thumb">
                    <img src="/static/images/parent.jpg" class="client-img" alt="">
                    <span class="client-name">@proudparent</span>
                </div>
                <div class="tcard-body">
                    <h2>Example Posts</h2>
                    <p class="review">Every night while my daughter was 2000 miles away she would call me in tears because she was so stuck in her situation. It broke my heart as a parent that I couldn't be there for her and all the things I taught her just didn't apply in this situation</p>
                    <a href="/signup">Create a Post<i class="fa-solid fa-arrow-up-right-from-square"></i></a>

                </div>
            </div>
            <div class="tcard">
                <div class="card-thumb">
                    <img src="/static/images/lgbtq.jpg" class="client-img" alt="">
                    <span class="client-name">@soccerstar</span>
                </div>
                <div class="tcard-body">
                    <h2>Example Posts</h2>
                    <p class="review">Growing up as black female, I was oftentimes one of the very few black student
                    in my classes or black student on my team and seeing the racism that occurs in the US and not talking about it
                    enough was frustrating because nothing was being done. </p>
                    <a href="/signup">Create a Post<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="tcard">
                <div class="card-thumb">
                    <img src="/static/images/injury.jpg" class="client-img" alt="">
                    <span class="client-name">@acldestroyer</span>
                </div>
                <div class="tcard-body">
                    <h2>Example Posts</h2>
                    <p class="review">I always wonder if I didn't make that run or didn't have that conversation if I could have prevented this whole thing. One small moment
                    took away a year of my life and caused me so much pain. Even though I was constantly surrounded by people I have never felt so alone in my life, and
                    so worthless.</p>
                <a href="/signup">Create a Post<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
        <div class="indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    </div>


</section>


<section class="home-cmn-sec">
    <div class="heading">
        <h2>More About Us</h2>
    </div>
    <p> We are three student athletes that have all come over ACL surgeries, been through the college athletic environment,
    and want to take a stand and talk more about the mental toll it takes on you. This is something that is not talked about
    a lot and needs to be talked about more, especially with recent suicides that have occurred. Student athletes should be
    put first more and there needs to be healthy balance between sports, school, AND our mental health, without penalty.</p>
    <a href="/about_us" class="btn btn-more">More About Us</a>
    <a href="/signup" class="btn btn-more2">Sign Up</a>

</section>

<section id="resources">

<div class="resource">
        <div class="wrapper1">

            <div class="hcard">

                <div class="card-thumb">
                    <img src="/static/images/download.png" class="client-img" alt="">
                    <span class="client-name">Athletes Against Anxiety and Depression</span>
                </div>
                <div class="hcard-body">
                    <h2>Resources</h2>
                    <p class="review">China McCarney started the foundation Athletes Against Anxiety and Depression because he deals with Anxiety on a daily basis. This foundation has incredible resources and allows you to tell your story. It also has free therapy where you can talk about your experinces.</p>
                    <a href="https://aaadfoundation.org/">aaadfoundation<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="hcard">
                <div class="card-thumb">
                    <img src="/static/images/smha.jpg" class="client-img" alt="">
                    <span class="client-name">Sports Mental Health Advocate</span>
                </div>
                <div class="hcard-body">
                    <h2>Resources</h2>
                    <p class="review">Sports Mental Health Advocate is an instagram page that I started following back in 2022, when my mental health was at an all time low. They post tips, heart warming messages, and are a daily reminder that you're not alone.</p>
                <a href="instagram.com/sportsmentalhealthadvocate/?hl=en">Sports Mental Health Advocate<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="hcard">
                <div class="card-thumb">
                    <img src="/static/images/afh.jpg" class="client-img" alt="">
                    <span class="client-name">Athletes for Hope</span>
                </div>
                <div class="hcard-body">
                    <h2>Resources</h2>
                    <p class="review">Athletes for Hope has a section for mental health in athletics, they provide free resources and free suicide prevention training. </p>
                <a href="https://www.athletesforhope.org/what-we-do/afh-mental-health/">Athletes For Hope<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="hcard">
                <div class="card-thumb">
                    <h2>Resources</h2>
                    <p>Text STEVE to 741741
If you are a young person of color who is feeling stressed, depressed, or anxious, please
know you can text STEVE to 741741 to connect with a trained crisis counselor 24/7. The
link for additional information is located here, including a PDF and JPG version of this
information for social media use: httns//www.stevefundora/crisisteytline.</p>
                </div>
            </div>
        </div>
        <div class="indicators2">
            <button class="active"></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
       <a href="/contact-us" class="btn btn-main btn-main">Add a Resource</a>
    </div>

</section>

<div class="banner">
    <h4 class="subheading">PEOPLE LIKE YOU</h4>
    <div class="box-area">

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Class Year</strong></span>
                <p>Talk with people of your same class: Freshman, Sophomore, Junior, Senior, Graduated. We know how hard it is
                    to be a Freshman and feel looked down upon, we also know the struggles of it being your last year as
                    a Senior.</p>
            </div>
        </a>


        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Minorities(Black students, Females students, LGBTQ+ students, Hispanic students,etc.)</strong></span>
                <p>Lots of racism, mistreatment, and racial slurs occur in the college athletic world that is not talked about enough. Connect
                with others and their experiences, so we can create a safe community and help fight this.</p>
            </div>
        </a>

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Injured</strong></span>
                <p>Being injured is so incredibly hard both mentally and physically and people deal with it in different ways.
                Talk with other injured athletes and support each other at your lows and bring each other up.</p>
            </div>
        </a>

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Sport</strong></span>
                <p>Different sports go through different types of trauma, whether it's the team atmosphere, the coach,
                or how hard you are or your teammates are on you. Sometimes it's a lot to handle so let's connect with athletes in your sport.</p>
            </div>
        </a>


        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Major</strong></span>
                <p>Your major in school can add additional stress, pressure, and can mentally take a toll on you.
                Talk with other athletes with your major and build a community here!</p>
            </div>
        </a>

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Outside Pressure</strong></span>
                <p>Outside pressure such as parents, teammates, or coach, can add a great deal of stress weighing you down.
                See who else is dealing with this and share your experiences. </p>
            </div>
        </a>

    </div>
</div>

</section>

<script>

const wrapper = document.querySelector('.wrapper');
const indicators = [...document.querySelectorAll('.indicators button')];

let currentTestimonial = 0; // Default 0

indicators.forEach((item, i) => {
    item.addEventListener('click', () => {
        indicators[currentTestimonial].classList.remove('active');
        wrapper.style.marginLeft = `-${100 * i}%`;
        item.classList.add('active');
        currentTestimonial = i;
    })
})

const wrapper1 = document.querySelector('.wrapper1');
const indicators2 = [...document.querySelectorAll('.indicators2 button')];

let currentTestimonial2 = 0; // Default 0

indicators2.forEach((item, i) => {
    item.addEventListener('click', () => {
        indicators2[currentTestimonial2].classList.remove('active');
        wrapper1.style.marginLeft = `-${100 * i}%`;
        item.classList.add('active');
        currentTestimonial2 = i;
    })
})

const mediaQuery = window.matchMedia('(max-width: 768px)')
// Check if the media query is true
if (mediaQuery.matches) {
  // Then trigger an alert
  var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 1.10;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 500;

anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  })
  .add({
    targets: '.ml4 .letters-4',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-4',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
    })
   .add({
    targets: '.ml4 .letters-5',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-5',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
    })
  .add({
    targets: '.ml4',
    opacity: 0,
    duration: 500,
    delay: 500
  });
}
else{
    var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 3;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 500;

anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  })
  .add({
    targets: '.ml4 .letters-4',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-4',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
    })
   .add({
    targets: '.ml4 .letters-5',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-5',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
    })
  .add({
    targets: '.ml4',
    opacity: 0,
    duration: 500,
    delay: 500
  });}

</script>



</body>

<footer>
  <div class="site-links">
    <a href="/about_us">About Us</a>
    <a href="/terms">Terms & Conditions</a>
    <a href="/sign-up">Sign Up</a>
    <a href="/contact-us">Contact Us</a>
  </div>
  <div class="social-media-icons">
    <a href="https://www.tiktok.com/@tellsweat"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.instagram.com/tellsweat/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/@tellsweat/"><i class="fa fa-youtube"></i></a>
  </div>
  <p>Copyright © 2023 Students Working to End Athletic Trauma. All rights reserved.</p>
</footer>
</html>
{% endblock %}
