{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

</head>

<body id="body">

<!-- Main body -->

<section class="lazyload home-banner">

    <div class="home-banner-inner">

        <div class="container">

            <h1>SWEAT</h1>

            <div class="banner-content">
                <h2 class="ml4">
                    <span class="letters letters-1"><span style="color:#A58C50">S</span>TUDENTS</span>
                    <span class="letters letters-2"><span style="color:#A58C50">W</span>ORKING to</span>
                    <span class="letters letters-3"><span style="color:#A58C50">E</span>ND</span>
                    <span class="letters letters-4"><span style="color:#A58C50">A</span>THLETIC</span>
                    <span class="letters letters-5"><span style="color:#A58C50">T</span>RAUMA</span>
                </h2>


            </div>
            <a href="/community_guidelines" class="btn btn-main btn-main">Community Guidelines</a>

        </div>

    </div>

</section>

<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Our Community</h2>
                </div>
            </div>

        </div>
        <div class="row mb-40">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid"
                     src="https://bloximages.chicago2.vip.townnews.com/cecildaily.com/content/tncms/assets/v3/editorial/9/b5/9b51dbf9-b318-5916-95ae-7c199385d73d/6030049b545cb.image.jpg?resize=750%2C500"
                     alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">WE NEED TO HAVE A VOICE TOO</h4>
                    <p>We are athletes just like you, and we have had our fair share of mental challenges and are
                        frustrated that we have no voice! This community is for all of us to come together and build
                        each other up and speak out.</p>
                    <a href="/community_guidelines" class="btn btn-main btn-main-sm">Community Guidelines</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">


                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">

            </div>
        </div>
        <div class="row mb-40">

            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">WE NEED TO HAVE A VOICE TOO</h4>
                    <p>We are athletes just like you, and we have had our fair share of mental challenges and are
                        frustrated that we have no voice! This community is for all of us to come together and build
                        each other up and speak out.</p>
                    <a href="/community_guidelines" class="btn btn-main btn-main-sm">Community Guidelines</a>
                </div>
            </div>
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid"
                     src="https://www.gannett-cdn.com/presto/2022/05/11/NCCT/1ea83483-44f2-4f0a-bb70-8fc17a8244b6-051022rs07_.jpg?width=660&height=371&fit=crop&format=pjpg&auto=webp"
                     alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">


                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">

            </div>
        </div>
    </div>
</section>

<section class="lazyload about2-banner">

    <div class="about2-banner-inner">

        <div class="container">

            <h1>Student Athlete Mental Awareness</h1>

            <div class="banner-content">

                <p>Made by student athletes for student athletes <br>
                <h3>Vent Anonymously</h3>
            </div>

        </div>

    </div>

</section>


<section class="home-cmn-sec">
    <div class="heading">
        <h2>More About Us</h2>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices condimentum dignissim. Aenean bibendum
        massa nec nisi convallis, vulputate pharetra ex porta. Aliquam tempor erat eget pellentesque ullamcorper.
        Maecenas dignissim, justo at consectetur tincidunt, enim nulla pharetra odio, a vestibulum arcu dui a est.
        Cras id eros diam. Praesent non eros nec enim consequat blandit. Integer tempor, risus fermentum laoreet
        semper, lectus felis maximus ex, at porttitor leo sapien at justo. In eleifend fringilla magna ut rutrum. Ut
        eu mauris sodales, bibendum ligula et, mollis neque. Suspendisse potenti.

        Quisque porta nisl sed sodales tempor. </p>
    <a href="/about_us" class="btn btn-more">See More About Us</a>
    <a href="/about_us" class="btn btn-more2">See More About Us</a>

</section>

<section class="lazyload about3-banner">

    <div class="about2-banner-inner">

        <div class="container">

            <h1>Student Athlete Mental Awareness</h1>

            <div class="banner-content">

                <p>Made by student athletes for student athletes <br>
                <h3>Vent Anonymously</h3>
            </div>

        </div>


</section>

<div class="banner">
    <h4 class="subheading">PEOPLE LIKE YOU</h4>
    <div class="box-area">

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Classes</strong></span>
                <p>Talk with people of your same class: Freshman, Sophomore, Junior, and Senior. We know how hard it is
                    to be a Freshman and feel looked down upon, we also know the struggles of it being your last year as
                    a Senior.</p>
            </div>
        </a>


        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Minorities</strong></span>
                <p>Jen you can write this one</p>
            </div>
        </a>

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Injured</strong></span>
                <p>Being injured is so incredibly hard, and very hard, talk with people who are going through similar
                    instances as you.</p>
            </div>
        </a>

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Classes</strong></span>
                <p>Talk with people of your same class: Freshman, Sophomore, Junior, and Senior. We know how hard it is
                    to be a Freshman and feel looked down upon, we also know the struggles of it being your last year as
                    a Senior.</p>
            </div>
        </a>


        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Minorities</strong></span>
                <p>Jen you can write this one</p>
            </div>
        </a>

        <a href="/sign-up">
            <div class="img-area"></div>
            <div class="img-text">
                <span class="header-text"><strong>Injured</strong></span>
                <p>Being injured is so incredibly hard, and very hard, talk with people who are going through similar
                    instances as you.</p>
            </div>
        </a>

    </div>
</div>
</section>

<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
	<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {});

        //Generate 2 random locations within the current map view.
        var locs = Microsoft.Maps.TestDataGenerator.getLocations(2, map.getBounds());

        //Create a blue circle that has a 25 pixel radius as a pushpin and add to map.
        var pin1 = createCirclePushpin(locs[0], 40, 'rgba(0, 0, 255, 0.5)', 'black', 1);
        map.entities.push(pin1);

        //Create a white circle that has a 35 pixel radius and a black outline as a pushpin and add to map.
        var pin2 = createCirclePushpin(locs[1], 35, 'rgba(255, 255, 255, 0.8)', 'black', 1);
        map.entities.push(pin2);
    }

    function createCirclePushpin(location, radius, fillColor, strokeColor, strokeWidth) {
        strokeWidth = strokeWidth || 0;

        //Create an SVG string of a circle with the specified radius and color.
        var svg = ['<svg xmlns="http://www.w3.org/2000/svg" width="', (radius * 2),
            '" height="', (radius * 2), '"><circle cx="', radius, '" cy="', radius, '" r="',
            (radius - strokeWidth), '" stroke="', strokeColor, '" stroke-width="', strokeWidth, '" fill="', fillColor, '"/></svg>'];

        //Create a pushpin from the SVG and anchor it to the center of the circle.
        return new Microsoft.Maps.Pushpin(location, {
            icon: svg.join(''),
            anchor: new Microsoft.Maps.Point(radius, radius)
        });
    }
    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Aluz1wuPB60H-mWycWKSXV3T436kJIGEtqqRhLjc-Ib7hzDgl-JTtWHtmWq6F59u' async defer></script>
</head>
<body>
    <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
</body>
</html>-->

<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
	<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Aluz1wuPB60H-mWycWKSXV3T436kJIGEtqqRhLjc-Ib7hzDgl-JTtWHtmWq6F59u',
            center: new Microsoft.Maps.Location(42.652580, -73.756233)

        });
        function drawCircle(radius, origin) {
    var RadPerDeg = Math.PI / 180;
    var earthRadius = 3959;
    var lat = origin.latitude * RadPerDeg;
    var lon = origin.longitude * RadPerDeg;
    var locs = new Array();
    var AngDist = parseFloat(radius) / earthRadius;
    for (x = 0; x <= 360; x++) { //making a 360-sided polygon
        var pLatitude, pLongitude;
        // With a nice, flat earth we could just say p2.Longitude = lon * sin(brng) and p2.Latitude = lat * cos(brng)
        // But it ain't, so we can't.  See http://www.movable-type.co.uk/scripts/latlong.html
        brng = x * RadPerDeg;
        pLatitude = Math.asin(Math.sin(lat) * Math.cos(AngDist) + Math.cos(lat) * Math.sin(AngDist) * Math.cos(brng)); //still in radians
        pLongitude = lon + Math.atan2(Math.sin(brng) * Math.sin(AngDist) * Math.cos(lat), Math.cos(AngDist) - Math.sin(lat) * Math.sin(pLatitude));
        pLatitude = pLatitude / RadPerDeg;
        pLongitude = pLongitude / RadPerDeg;
        locs.push(new MM.Location(pLatitude, pLongitude));
    };
    circle = new MM.Polyline(locs, { visible: true, strokeThickness: 2, strokeDashArray: "1", strokeColor: new MM.Color(200, 0, 0, 200, 0) });
    map.entities.push(circle);
};
        var center = map.getCenter();

        //Create custom Pushpin
        var pin = new Microsoft.Maps.Pushpin(center, {
            title: 'REIS',
            subTitle: 'Business Center',
            text: '1'
        });

        //Add the pushpin to the map
        map.entities.push(pin);
    }

    </script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
</head>
<body>
    <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
</body>
</html>-->
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset-utf-8">
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script type="text/javascript">
        var map;
        var geoLocationProvider;
        function GetMap() {
            var mapOptions={ credentials: Aluz1wuPB60H-mWycWKSXV3T436kJIGEtqqRhLjc-Ib7hzDgl-JTtWHtmWq6F59u };
            map=new Microsoft.Maps.Map(document.getElementById("mapDiv"),mapOptions);
            geolocationProvider=new Microsoft.Maps.GeolocationProvider(map);

            geolocationProvider.addAccuracyCircle(new Microsoft.Maps.Location(12.966970, 77.587280(,50000,50000,
                {polygonOptions: { fillColor: new Microsoft.Maps.Color(100,100,0,100), strokeColor: new Microsoft.Maps.Color(100,100,0,100)}});
            alert(map.entities.getLength());
            var entity=map.entities.pop();
            alert("Entity Type:" + entity.toString());
        }

    </script>
</head>
<body onload="GetMap();">
    <div id="mapDiv" style="position: relative; width: 1000px; height: 800px;"></div>
</body>
</html>-->
<script>
    var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 3;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 500;

anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  })
  .add({
    targets: '.ml4 .letters-4',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-4',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
    })
   .add({
    targets: '.ml4 .letters-5',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-5',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
    })
  .add({
    targets: '.ml4',
    opacity: 0,
    duration: 500,
    delay: 500
  });

</script>

</body>
</html>
{% endblock %}
