{% extends "posts_div.html" %} {% block title %}{{browser}} Posts{% endblock %} {% block header
%}{{browser}} Posts {% endblock %}
{% block footer %}

<div class="post" align="center">
    <a class = "back-btn" href="/view_posts">
        <button type="button" class="btn btn-main">
            Back
        </button></a>
</div>
<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
{%endblock %}
