{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
    <form method="POST" class="legacy-form">
      <h1 align="center">New Password</h1>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password1"
          class="form-control"
          placeholder="Enter Password"
        />
        <label for="confirm_password">Confirm Password</label>
        <input
          type="password"
          id="confirm_password"
          name="password2"
          class="form-control"
          placeholder="Confirm Password"
        />
        <br />
        <div align="center">
          <button class="btn btn-main btn-main-sm" type="submit">Reset Password</button>
        </div>
      
    </form>
    
    
{% endblock %}
    