{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}


<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SIP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Importing fonts -->
    <!-- Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- Importing CSSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">


</head>

<body id="body">

    <!-- Main body -->

<section class="lazyload solutions-banner">

			<div class="solutions-banner-inner">
                <h1>Solutions</h1>
                <h3>We really want to start taking action to try to solve the lack of power we have and the obvious mistreatment.
                    Feel free to fill out form below and tell us your ideas on next steps, additions we should make, how we can make even
                    more of an impact, resources we should add, or anything you have in mind!

                </h3>

            </div>

</section>

<section id="banner-contact-us">

      <div class="banner-contact-us-inner">




   <?php include('contact.php'); ?>
    <!-- Error messages -->
    <?php if(!empty($response)) {?>
    <div class="form-group col-12 text-center">
      <div class="alert text-center <?php echo $response['status']; ?>">
        <?php echo $response['message']; ?>
      </div>
    </div>
    <?php }?>
    <!-- Contact form -->
    <form class = "signup" action="" name="contactForm" id="contactForm" method="post" enctype="multipart/form-data" novalidate>
        <h2>Contact Us</h2>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Enter your name" id="name">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter your email" id="email">
      </div>
      <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control" placeholder="Enter the topic" name="subject" id="subject">
      </div>
      <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" rows="4" name="message" placeholder="Enter your message" id="message"></textarea>
      </div>
      <div class="form-group">
        <!-- Google reCAPTCHA block -->
        <div class="g-recaptcha" data-sitekey="6Lc5cukiAAAAAKTSKVYrgDNqK7EtL7U9jo5DxyX6"></div>
      </div>


      <div class="form-group">
        <input type="submit" name="send" value="Send" class="btn btn-main btn-main-sm">
      </div>
    </form>
  </div>


</section>



</body>
</html>
{% endblock %}
